*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1ft);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header"
                        "section1 section1"
                        "section2 section2"
                        "section3 section3"
                        "footer footer";
}

header{
    grid-area: header;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
}

header h1{
    display: flex;
    margin-left: 60px;
    font-size: 1.6em;
    color: #fff;
}

header nav{
    display: flex;
    margin-right: 60px;
}

nav ul li, a{
    display: inline-block;
    list-style: none;
    color: #fff;
    padding: 20px;
    text-decoration: none;

}

section{
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section1{
    grid-area: section1;
    background: #FF635F;
}

#section2{
    grid-area: section2;
    background: #805755;
}

#section3{
    grid-area: section3;
    background: #CC504B;
}

footer{
    grid-area: footer;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

footer h3{
    color: #f3f3f3;
}

.section1-text{
    background: #f3f3f3;
    width: 25%;
    margin-right: 60px;
    height: 60%;
    text-align: justify;
    padding: 20px;
    border-radius: 5px;
}

.section1-text h2{
    margin-bottom: 10px;
    text-align: center;
}

.image-container{
    width: 40%;
    height: 40%;
    margin-left: 60px;
}

.image-container img{
    width: 400px;
}