*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    min-width: 370px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    
    max-width: 100vw;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1ft);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header"
                        "section1 section1"
                        "section2 section2"
                        "section3 section3"
                        "section4 section4"
                        "section5 section5"
                        "section6 section6"
                        "footer footer";
}

header{
    grid-area: header;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
}

header h1{
    display: flex;
    margin-left: 60px;
    font-size: 1.6em;
    color: #fff;
}

header nav{
    display: flex;
    margin-right: 60px;
}

nav ul li,a{
    display: inline-block;
    list-style: none;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
}

section{
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section1{
    grid-area: section1;
}

#section2{
    grid-area: section2;
}

#section3{
    grid-area: section3;
}

#section4{
    grid-area: section4;
}

footer{
    grid-area: footer;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

footer h3{
    color: #f3f3f3;
    font-weight: normal;
    font-size: 1em;
}

/* Creaciones JavaScript */
.section1-text{
    background: hsla(0,0%,0%,0.3);
    width: 40%;
    margin-right: 300px;
    height: 50%;
    text-align: justify;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 7px 7px 15px 1px rgba(82,53,65,0.56);
}

.section1-text h2{
    margin-bottom: 10px;
    text-align: center;
    color: #f3f3f3;
}

.section1-text p{
    color: #f3f3f3;
}

/* Image */
.image-container img{
    width: 60%;
    margin-left: 200px;
}

.active{
    background: #CC504B;
    transition: all 1.5s;
}

.inactive{
    background: rgba(39, 2, 4, 0.88);
}

@media only screen and (max-width:1700px){
    .section1-text{
        height: 70%;
    }

    .image-container img{
        width: 80%;
        margin-left: 60px;
    }
}

@media only screen and (max-width:1540px){
    .section1-text{
        width: 50%;
        margin-right: 40px;
    }
    .image-container img{
        width: 90%;
        margin-left: 40px;
    }
}

@media only screen and (max-width:1430px){
    .section1-text{
        margin-right: 30px;
        width: 50%;
    }

    .image-container img{
        width: 90%;
        height: 40%;
        margin-left: 40px;
    }
}

@media only screen and (max-width:1260px){
    .section1-text{
        margin-right: 30px;
        width: 50%;
    }
}

@media only screen and (max-width:1160px){
    .section1-text{
        margin-right:100px;
        width: 50%;
        margin-right: 30px;
    }

    .image-container img{
        width: 80%;
        height: 40%;
        margin-left: 40px;
    }
}

@media only screen and (max-width:940px){
    header nav{
        margin-right: 10px;
    }

    nav ul li,a{
        padding: 15px;
    }

    .section1-text{
        width: 60%;
        height: auto;
        margin-right: 20px;
    }

    .section1-text p{
        margin-bottom: 20px;
    }

    .image-container img{
        width: 90%;
        height: 40%;
        margin-left: 30px;
    }
}

@media only screen and (max-width:870px){
    
    section{
        flex-direction: column;
        justify-content: center;
        height: auto;
        display: flex;
        padding: 20px;
    }

    section article{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section1-text{
        width: 100%;
        margin: 0;
    }

    .image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .image-container img{
        width: 80%;
        margin: 0;
    }
}

@media only screen and (max-width:690px){
    header{
        flex-direction: column;
    }

    header h1{
        margin: 0;
    }

    header nav{
        margin: 0;
    }
}

@media only screen and (max-width:600px){
    .image-container img{
        width: 100%;
    }

    .section1-text{
        width: 105%;
    }
}

@media only screen and (max-width:600px){
    nav ul li,a{
        padding: 10px;
    }
}